__pycache__/
*.params
ssf_save/ 
untracked_files/
raman_profile_test.py
initial_gain_check/
759b1a_ssf_save_0 
raman_sol_init
various_length_params.pkl 
sim_processing_mod.py
osp_param_file_generator.py 
sim_config_file.py 
test.py 
test2.py 
sim_class_testing.py 
